<ion-view class="white-text" view-title="Perfil" hide-nav-bar="true">
  <ion-content>
    <div class="light static fd-user" style=""></div>
    <div class="chart">
      <div class="row">
          <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo right"><i class="large material-icons">input</i></a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a ng-click="vm.cadeventos()">Eventos</a></li>
                <li><a href="badges.html">Listas</a></li>
                <li><a ng-click="vm.home()">Dashboard</a></li>
              </ul>
            </div>
          </nav>
      </div>
      <div class="row">
        <div class="card">
            <div class="item item-divider" id="titleChart">
                Eventos
            </div>
            <div class="item item-text-wrap">
                <canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-legend="true" chart-series="vm.series" options="{showTooltips: false}"></canvas>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s6" style="color: #888888; text-align: left;">Realizados</div>
      <div class="col s6" style="color: teal; text-align: right;">8</div>
    </div>
    <hr>
    <div  class="row">
      <div class="col s6" style="color: #888888; text-align: left;">Participados</div>
      <div class="col s6" style="color: teal; text-align: right;">15</div>
    </div>

    <div class="fixed-action-btn horizontal click-to-toggle">
      <a class="btn-floating btn-large blue"><i class="material-icons">menu</i></a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">settings</i></a></li>
        <li><a class="btn-floating gray darken-1"><i class="material-icons">search</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">location_on</i></a></li>
        <li><a class="btn-floating orange"><i class="material-icons">add</i></a></li>
      </ul>
    </div>
  </ion-content>
</ion-view>
