<ion-view view-title="Login" align-title="center" hide-nav-bar="true">
  <ion-content class="login container">

    <video muted autoplay loop poster="" id="bgvid">
      <source src="../../img/vd3.mp4" type="video/webm">
    </video>

    <br>
    <div class="hero no-header flat">
      <div class="content">
        <div class="animated bounceInLeft"></div>
        <div class="center-align animated bounceInRight"><img src="../../img/bee_PNG14.png" alt="" class="app-icon2 "></div>

      </div>
    </div>
    <div class="fd-login">
      <form name="list">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" id="usuario" ng-model="vm.username" ui-br-usuario-mask class="validate" name="usuario">
            <label for="usuario">Usuário</label>
            <span>{{list.usuario.$invalid ? 'Usuário Incorreto' : ''}}</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="senha" ng-model="vm.password" type="password" class="validate">
            <label for="senha">Senha</label>
          </div>
        </div>
      </form>
    </div>
    <div class="padding">
      <button ng-click="vm.login()"
              class="button button-full #b0bec5 blue-grey lighten-3 btnRadius white-text waves-effect waves-light"
              ng-disabled="list.username.$invalid || (vm.username == '' || vm.password == '')">
        Login
      </button>
    </div>
    <div class="padding">
      <button  ng-click="vm.telaLeitor()"
               class="button button-full #b0bec5 blue-grey lighten-3 btnRadius white-text waves-effect waves-light">
        Primiero Acesso
      </button>
    </div>
  </ion-content>
</ion-view>
