.input-field.col label {
	left: 0 !important;
}

.item-checkbox {
    border: 0px !important;
    padding-left: 30px;
}

.labelCheckbox {
    padding-left: 17px;
}

#itemList {
	border: 1px solid !important;
    color: #ddd !important;
}

    